
.pi {
    font-size: 20px;
    padding-top: 100px;
}
.chat {
    border: 1px solid black;
    border-radius: 5px; 
}
.convo {
    font-size: 30px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
    height: 300px;
}
.icon {
    display: inline-block;
    font-size: 40px;
    float: right;
    background-color: #293f50;
}
.ico {
    display: block;
    font-size: 40px;
    padding-top: 20px;
}
.footer {
    text-align: center;
    height: 80px;
    font-size: 30px;
    padding-top: 25px;
}
.icons {
    display: inline-block;
    font-size: 20px;
}
.wa {
    text-align: left;
    font-size: 80px;
    color: whitesmoke;
    font-style:oblique;
}
.ul {
    text-align: center;
    font-size: 30px;
}
.nav {
    text-align: right;
    font-size: 20px;
    padding-right: 20px;
    color: wheat;
}
/*
==============
typography
==============
*/
.h1{
    
}
.h2 {
    font-size: 70px;
    font-style: italic;
}
.h5 {
    font-size: 30px;
    font-style: italic;
}
/*
  ========================================
  Custom styles
  ========================================
*/
body {
  background: #293f50;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container,
.grid {
  margin: 0 auto;
  width: 960px;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}
.grid,
.col-1-3,
.col-2-3 {
   padding-left: 15px;
  padding-right: 15px;
}
.col-1-3,
.col-2-3  {
  display: inline-block;
  vertical-align: top;
}
.col-1-3 {
  width: 49%;
}
.col-2-3 {
  width: 33%;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
/*
  ========================================
  Rows
  ========================================
*/
.row,
.row-alt {
  min-width: 960px;    
}
.row {
  background: #fff;
  min-width: 960px;
  padding: 66px 0 44px 0;
}
.row-alt {
  background: #cbe2c1;
  background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background: -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background: linear-gradient(to right, #a1d3b0, #f6f1d3);
  padding: 44px 0 22px 0;
}
/*
  ========================================
  Leads
  ========================================
*/

.lead {
  text-align: center;
}
.lead p {
  font-size: 21px;
  line-height: 33px;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
    border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;
  text-transform: uppercase;
}
.btn-alt {
  border: 1px solid #dfe2e5;
  padding: 10px 30px;
}
.btn-altL:hover {
  background: #fff;
  color: #648880;    
}
.btn-default {
  border: 0;
  background: #648880;
  padding: 11px 30px;
  font-size: 14px;
}
.btn-default:hover {
  background: #77a198;
}
/*
  ========================================
  Register
  ========================================
*/

.why-attend {
  list-style: square;
  margin: 0 0 22px 30px;
}
form {
  margin-bottom: 22px;
}
input,
select,
textarea {
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.register-group label {
  color: #648880;
  cursor: pointer;
  font-weight: 400;
}
.register-group input,
.register-group select,
.register-group textarea {
  border: 1px solid #c6c9cc;
  border-radius: 5px;
  color: #888;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 8px;
}
.register-group input,
.register-group textarea {
  width: 100%;
}
.register-group select {
  height: 34px;
  width: 60px;
}
.register-group textarea {
  height: 78px;
}
